<%- include('../partials/header') %>

<h1>Chatr</h1>
<h2>o.o</h2>

<form id="new-message">
  <textarea name="content" placeholder="Type your message..."></textarea>
  <input type="submit" value='Post Message' />
</form>

<ul id="messages"></ul>

<%- include('../partials/footer') %>
